.main-chat
  .main-chat__header
    .main-chat__header-leftbox
      .main-chat__header-leftbox-name
        = @group.name
      .main-chat__header-leftbox-list
        Member:
        .main-chat__ul
          - @group.users.each do |user|
            .main-chat__li= user.nickname
    .main-chat__header-rightbox
      = link_to edit_group_path(@group), class: "main-chat__Edit-btn" do
        Edit
  .main-chat__messages      
    = render @messages
  
  .main-chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: "main-chat__input-text", placeholder: "type a message"
      .main-chat__form-image
        = f.label :image,class: "main-chat__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "main-chat__image-tag" 
      = f.submit 'Send', class: "main-chat__submit-btn"