.side-chat
  .side-chat__header
    .side-chat__box
      .side-chat__box-name
        = current_user.nickname
      .side-chat__box-menu
        = link_to edit_user_path(current_user), class: "side-chat__menu-btn" do
          %i.fas.fa-cog
        = link_to new_group_path, class: "side-chat__menu-btn" do
          %i.fas.fa-edit
  .side-chat__groups
    - current_user.groups.each do |group|
      .side-chat__group
        = link_to group_messages_path(group), class: "side-chat__group-btn"  do
          .side-chat__group-name
            = group.name
          .side-chat__group-messages
            = group.show_last_message
